

:root {
    --text: #081710;
    --background: #f0faf5;
    --primary: #9dddc1;
    --secondary: #d5f0e5;
    --accent: #41b985;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--background);
    color: var(--primary);
    font-family: sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }
  
  h1 {
    line-height: 1.2;
  }
  
  button,
  input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* HEADER */
  
  .header {
    padding: 30px 0;
  }
  
  .title {
    text-align: center;
    font-size: 80px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text);
  }
  
  button.active {
    background-color: var(--accent);
    color: var(--secondary);
  }
  
  button,
  input[type='color'] {
    transition: transform 0.1s ease-in-out;
  }
  
  button:hover,
  input[type='color']:hover {
    transform: scale(1.05);
  }
  
  input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--secondary);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary);
    border-radius: 25px;
    background: var(--primary);
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--accent);
  }
  
  #sliderValue {
    color: var(--text);
  }

  /* FOOTER */
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--primary);
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
  }
  
  .fa-github:hover {
    transform: scale(1.3);
  }

  .grid-container{
    display: grid;
    width: 960px;
    height: 960px;
    border: 1px solid #000;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
    background-color: #202020;
    border-radius: 4px;
}

.grid{
    background-color: #fff;
    outline: #000 solid 1px;
}